<!DOCTYPE html>
<html lang="en">
<head>
	<title>Find Your Shipping Label!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">

			<form name="search" method="POST" action=".">
				<span>
					<strong>
						Find Your Shipping Label!
					</strong>
				</span>
				<br>
				<br>

				<div>
					<span>Source Address* </span>
					<br>
					<span>Name </span>
					<input size="20" type="text" name="name_1" placeholder="Mr. Luigi Mario">
					<span>Street1 </span>
					<input size="20" type="text" name="street1_1" placeholder="1 Mansion St">
					<span>Street2 </span>
					<input size="20" type="text" name="street2_1" placeholder="Apt 1">
					<br>
					<span>City </span>
					<input size="20" type="text" name="city_1" placeholder="Donut Land">
					<span>State </span>
					<input size="20" type="text" name="state_1" placeholder="XX">
					<span>Zip </span>
					<input size="20" type="text" name="zip_1" placeholder="99999">
					<br>
					<span>Country </span>
					<input size="20" type="text" name="country_1" placeholder="Japan">
					<span>Phone </span>
					<input size="20" type="text" name="phone_1" placeholder="123456">
					<br>
					<br>
				</div>

				<div>
					<span>Destination Address* </span>
					<br>
					<span>Name </span>
					<input size="20" type="text" name="name_2" placeholder="Dr. Bowser Koopa">
					<span>Street1 </span>
					<input size="20" type="text" name="street1_2" placeholder="10 Fortress Road">
					<span>Street2 </span>
					<input size="20" type="text" name="street2_2" placeholder="Castle 2">
					<br>
					<span>City </span>
					<input size="20" type="text" name="city_2" placeholder="Mushroom Kingdom">
					<span>State </span>
					<input size="20" type="text" name="state_2" placeholder="Japan">
					<span>Zip </span>
					<input size="20" type="text" name="zip_2" placeholder="00000">
					<br>
					<span>Country </span>
					<input size="20" type="text" name="country_2" placeholder="XX">
					<span>Phone </span>
					<input size="20" type="text" name="phone_2" placeholder="123456">
					<br>
					<br>
				</div>

				<div>
					<span class="label-input100">Predefined Package Type? (e.g. Standard size letter, small flat rate box) *</span>
					<div>
						<select name="predefine">
							<option>None</option>
							<option>Card</option>
							<option>Letter</option>
							<option>Flat Rate Envelope</option>
							<option>Flat Rate Legal Envelope</option>
							<option>Flat Rate Padded Envelope</option>
							<option>Soft Pack</option>
							<option>Parcel</option>
							<option>Small Flat Rate Box</option>
							<option>Medium Flat Rate Box</option>
							<option>Large Flat Rate Box</option>
							<option>Large Flat Rate Box APOFPO</option>
							<option>Regional Rate Box A</option>
							<option>Regional RateBox B</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>
				<br>

				<div>
					<span class="label-input100">Parcel Weight (Ounces)</span>
					<input class="input100" type="text" name="weight" placeholder="Enter The Weight">
				</div>

				<div>
					<span class="label-input100">Parcel Length (Inches)</span>
					<input class="input100" type="text" name="length" placeholder="Enter Parcel Length">
				</div>

				<div>
					<span class="label-input100">Parcel Width (Inches)</span>
					<input class="input100" type="text" name="width" placeholder="Enter Parcel Width">
				</div>

				<div>
					<span class="label-input100">Parcel Height (Inches)</span>
					<input class="input100" type="text" name="height" placeholder="Enter Parcel Height">
				</div>
				<br>
				<br>

				<div>
					<input type="submit" type="submit">
				</div>
			</form>
		</div>
	</div>


</body>
</html>
